body{
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden;
}

#header{
    position:absolute;
}

.content{
    display:none;
}

#hRight{
    position:absolute;
    top:30px;
    left:1100px
}

#hLeft{
    position:absolute;
    top:30px;
    left:420px;
}

#hRight td{
    padding-left:40px;
}

.body .content{
    width:1920px;
    height:1080px;
}

.line{
    position:absolute;
    display:none;
}

#homeSline{
    top:120px;
    left:670px;
}

#homeGLine{
    top:534px;
    left:1920px;
    display:block !important;
}

#itsmeLine{    
    top:319px;
    left:1348px;
}

#twoItsmeLine{
    top:317px;
    left:-107px;
}

#contLine{
    position:absolute;
    display:none;
    top:319px;
    left:982px;
}

#rMove{
    position:absolute;
    cursor: pointer;
    top:480px;
    left:1840px;
}

#lMove{
    position:absolute;
    cursor: pointer;
    display: none;
    top:480px;
    left:40px;
}

#linkPo{
    position:absolute;
    cursor: pointer;
    top:660px;
    left:820px;
}

.linkCuk{
    position:absolute;
    top:150px;
    left:380px;
}

.linkCuk:hover{
    cursor: pointer;
    width:630px;
}